@import "src/styleConfig/global.scss";

.tabContainer{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $color1;
    height: 60px;
    .tabItem{
        height: 44px;
        text-align: center;
        line-height: 2;
        cursor: pointer;
        margin: 0px 5px;
        min-width: 120px;
        font-weight: 300;
        padding: 8px 15px;
        border:1px solid $white;
        border-bottom: 1px solid $color1;
        background-color: $color1;
        color: $white;
    }
    .selected{
        background-color: $white;
        border:1px solid $color1;
        border-bottom: 2px solid $white;
        font-weight: 600;
        color: $color1;
        z-index: 2;
        transition: color .5s , background-color .5s;
    }
}

.tabContent{
    width: 100%;
    max-width: 800px;
    img{
        display: block;
        margin: 20px auto;
        width: 60%;
    }
}

.dark{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:5px solid $gray;
    height: 60px;
    .tabItem{
        height: 44px;
        text-align: center;
        line-height: 2;
        cursor: pointer;
        margin: 0px 5px;
        min-width: 120px;
        font-weight: 300;
        padding: 8px 15px;
        border:1px solid $dark;
        border-bottom: 1px solid $color1d;
        background-color: $color1d;
        color: $dark;
    }
    .selected{
        background-color: $dark;
        border:1px solid $color1d;
        border-bottom:5px solid $gray;
        font-weight: 600;
        color: $color1d;
        z-index: 2;
        transition: color .5s , background-color .5s;
    }
}